<!DOCTYPE html>
<html lang="en" class="theme-default">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>
      {% if title %}{{ title }}
        ·
        {{ site.title }}
      {% else %}{{ site.title }}
      {% endif %}
    </title>
    {% if excerpt %}<meta name="description" content="{{ excerpt | safe }}"/>{% endif %}

    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Fira+Mono:wght@400;500&display=swap" rel="stylesheet"/>

    <link rel="icon" type="image/png" href="/imarc-icon.png">
    <link rel="apple-touch-icon" href="/imarc-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imarc-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/imarc-icon.png">
    <link rel="alternate" type="application/rss+xml" href="/feed/index.xml" title="{{ site.title }} RSS">

  </head>
  <body>
    <header class="site-header">
      <div class="inner">
        <a class="site-title" href="/">{{ site.title }}</a>
        <p class="tagline">{{ site.tagline }}</p>

        <nav class="site-nav">
          <a href="/">Home</a>
          <a href="/gear/">Gear</a>
          <a href="/archive/">All Posts</a>
          <a href="http://marc.wickens.org.uk">About</a>
          <a href="/riseley">Riseley History</a>
          <!-- <a href="https://mandiandmarc.wickens.uk/">Wedding</a> -->

          <form class="site-search" action="/search/" method="get">
            <label for="search-input" class="visually-hidden">Search</label>
            <input id="search-input" name="q" type="search" placeholder="Search…"/>
          </form>

        </nav>
      </div>
    </header>

    <main class="content inner">
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <div class="inner">
        <p>&copy; 2000 –
          {{ site.year }}
          Marc Wickens
        </p>
      </div>
    </footer>

    <script src="/static/js/compare.js" defer="defer"></script>
    <script data-goatcounter="https://imarc.goatcounter.com/count" async="async" src="//gc.zgo.at/count.js"></script>

  </body>
</html>