---
layout: null
permalink: "feed/index.xml"
eleventyExcludeFromCollections: true

# Push all posts into this template in one go
pagination:
  data: collections.posts
  size: 1000          # bigger than your post count so it’s a single page
  alias: items
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ metadata.title | escape }}</title>
    <link>{{ metadata.url | escape }}</link>
    <description>{{ metadata.description | escape }}</description>

    {% for post in items %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>{{ metadata.url }}{{ post.url }}</link>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ metadata.url }}{{ post.url }}</guid>
      <description><![CDATA[{{ post.templateContent | safe }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>