---
permalink: "search/index.json"
eleventyExcludeFromCollections: true
---
[{% for post in collections.posts %}
  {
    "title":   {{ post.data.title  | jsonify | safe }},
    "url":     {{ post.url         | jsonify | safe }},
    "excerpt": {{ post.data.excerpt| jsonify | safe }},
    "tags":    {{ post.data.tags   | default([]) | jsonify | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}]