---
permalink: search/index.json
eleventyExcludeFromCollections: true
---
[
{% for post in collections.posts %}
{
  "title": {{ post.data.title | dump }},
  "url": "{{ post.url }}",
  "excerpt": {{ (post.data.excerpt or "") | dump }},
  "tags": {{ (post.data.tags or []) | dump }}
}{% if not loop.last %},{% endif %}
{% endfor %}
]